<mat-toolbar>
  <span>Trigonometric Calculator</span>

  <ng-container *ngIf="isPortrait$ | async; else isLandscape">
    <button
      mat-raised-button
      [disabled]="hasNotPreviousOperations"
      (click)="historyClicked.emit()"
      color="primary"
    >
      History
    </button>
  </ng-container>
</mat-toolbar>

<ng-template #isLandscape>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [disabled]="hasNotPreviousOperations"
      (click)="historyClicked.emit()"
    >
      <mat-icon>dialpad</mat-icon>
      <span>History</span>
    </button>
  </mat-menu>
</ng-template>
