.calculator-buttons {
  .mat-drawer-content,
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: row;
    background-color: royalblue;
    max-height: 500px;
  }

  .mat-drawer-inner-container {
    min-width: 150px;
  }

  &-keys {
    flex: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
  }

  &-operators {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 30px;

    margin: auto;
  }

  @media (orientation: portrait) {
    &-keys {
      grid-gap: 10px;
      padding: 10px;
      grid-auto-rows: 80px;
    }

    &-operators {
      grid-gap: 8px;
      padding: 8px;
      grid-auto-rows: 60px;
    }
  }
}
